.test1 .test2 { color: red }
.test10,.test2 { color: pink; }
.test1:after { content: ''; }
.test2::before { content: ''; }
.test1 .test3 { color: white; }
.test1 .test4 { color: orange; }
.nested .test1 { color: blue; }
.nested>.test2 { color: yellow;}
.remove { color: black; }
.test1 .test5 { color: magenta; }
.test1 > .test6 { color: khaki; }
.test6 .test7 { color: cyan; }
.test11 { color: navy; }
